.label {

}

.input {
    border: none;
    border-radius: 3px;
    height: 20px;
    width: 100%;
}

.button {
    width: 10%;
    height: 20px;
    border-radius: 3px;
    margin: 10px auto;
    background: lightskyblue;
    border: none;
}

.formContainer {
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;

}

.inputContainer {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: flex-start;
    width: 160px;
}