{% block html_head_container %}

{% include 'html-header.twig' %}
{% endblock %}

		<div class="main-wrapper">
        <!-- page content -->
        <div class="container">

            <!-- cards level 1-->
            <div class="row">
                <!-- card 1.1 -->
                <div class="col-12 col-md-9">
                   <h2>Content</h2> 
                   <p>
                       Hier komt de fanlijst
                   </p>

                </div>
                <div class="col-12 col-md-3">
                    <h2>Sidebar</h2>
                    <p>Sidebar with NO widget area - Homepage (hardcoded text)</p>
                </div>

            </div>
             <!-- end row-->

        </div>
        <!-- end container-->
    </div>

	{% include 'footer.twig' %}
	</body>
</html>
