.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body {
  background-color: lightgray;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10%;
  height: 60px;
  background-color: black;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 40px 0 0;
}

h1 {
  text-align: start;
  width: 80%;
  margin: 20px auto;
}